#thebody {
    background-color: #F7ECDE;
    margin: 0;
}

header h1 {
    background-color: #54BAB9;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 0;
}

#navbar {
    background-color: #9ED2C6;
    width: 100%;
    overflow: hidden;
}
#navbar ul {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#navbar ul li {
    position: relative;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar ul li a {
    color: black;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 16px;
    border-right: 2px solid grey;
}
#navbar ul li a:visited {
    color: black;
}

#navbar ul li:hover {
    background-color: #18ADAB;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

header h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

main section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main section ul {
    padding: 0;
    list-style: none;
}

main section ul li {
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.movies-list {
    float: left;
    width: 50%;
}

.tv-shows-list {
    float: right;
    width: 50%;
}

.movies-list li, .tv-shows-list li {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: honeydew;
    height: 450px;
    width: 50%;
    border: 2px solid black;
    border-radius: 25px;
}

.movies-list img, .tv-shows-list img {
    margin-top: 10%;
    width: 60%;
}

.movie figcaption, .tv-show figcaption {
    margin-top: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.movie a, .tv-show a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.movie a:visited, .tv-show a:visited {
    color: black;
}