body {
    background-color: #F7ECDE;
}

h1 {
    background-color: #54BAB9;
    color: white;
}

p {
    background-color: #9ED2C6;
    font-size: 22px;
}

.thing {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.another {
    font-size: 40px;
    background-color: #E9DAC1;
    font-style: italic;
}